<!--list-->
<div style="text-align: center;margin: 20px 0 20px 0">
  <h2 style="color: dodgerblue;text-align: center">CUSTOMER MANAGEMENT</h2>
</div>

<p style="color: red; padding-left: 30px"></p>

<!--nut create + search-->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/customer/create']" class="btn"
       style="color: white;background-color: dodgerblue; margin: 8px 8px; padding: 6px 12px">Create new</a>
    <div class="d-flex">
<!--     findByName -->
          <input name="name" [(ngModel)]="name" (ngModelChange)="searchByKeyword()"  class="form-control bg-white btn-warning my-2" type="search"
                 placeholder="Search by name" aria-label="Search">

        <!--    loại khách hàng: select-option -> ngFor - "cusTypeList" -->
          <select class="custom-select bg-white btn-warning" name="cusTypeId" [(ngModel)]="cusTypeName" (ngModelChange)="searchByKeyword()" style="margin-top: 8px">
            <option [value]="''" >--Hiển thị tất cả--</option>
            <option *ngFor="let item of cusTypeList" [selected]="item.name===cusTypeName" [ngValue]="item.name" >{{item.name}}</option>
          </select>
          <button class="btn btn-warning my-2" type="submit" style="margin-left:5px">Search</button>
    </div>
  </div>
</nav>
<!--</form>-->

<!--th:unless="${customerList.isEmpty()}"-->
<div *ngIf="customerList">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>No</th>
      <th>ID</th>
      <th (click)="sort('name')">Full name&nbsp;<i class="fa fa-sort"></i></th>
      <th>Code</th>
      <th>Day of birth</th>
      <th>ID Card</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Customer type</th>  <!--???-->
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
<!--    th:each="cusObj,loopStatus: ${customerList}" -> *ngFor="let item of Array, let i = index"-->
    <tr *ngFor="let item of customerList | orderBy:key:reverse | paginate: { itemsPerPage: 4, currentPage: p }, index as i;else emptyList" >
      <td>{{i+1}}</td>
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.code}}</td>
      <td>{{item.dayOfBirth | date:"M/d/yyyy"}}</td>
      <td>{{item.idCard}}</td>
      <td>{{item.email}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.address}}</td>

<!--      customerType.typeName ??? -->
      <td >
        {{item.customerType.name}}
      </td>
<!--      <td *ngFor="let type of cusTypeList">-->
<!--        <p *ngIf="type.id==item.customerType.id">{{type.name}}</p>-->
<!--      </td>-->

      <td style="display: flex">
        <a [routerLink]="['/customer/edit',item.id]" class="btn " role="button" style="color: white;background-color: dodgerblue">Edit</a>
<!--        test dialog delete-->
        <a (click)="openDeleteDialog(item.id)" style="color: white" class="btn bg-danger" role="button">Delete Dialog </a>
        <!--          cha-> con -->
        <a href="" class="btn" role="button" (click)="openViewDialog(item.id)"
           style="color: white;background-color: dodgerblue; margin-left: 3px">View</a>
      </td>
    </tr>
<!--list empty-->
    <tr>
      <td><ng-template #emptyList style="color: red">No data</ng-template></td>
    </tr>
    </tbody>
  </table>
  <!--    phan trang ??? -->
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
