<!--home: welcome-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <h1 style="color: darkorange">Welcome to Furama Resort <span class="sr-only">(current)</span>
        </h1>
      </li>
    </ul>
    <span></span>
    <span>
             <span class="navbar-text"
                   style="margin-right: 3px;color: orange;font-weight: bold"><i class="fa fa-user fa-2x p-2" style="color: orange"></i>Tên đăng nhập:  ở đây
             </span>
        <span class="navbar-text"><a href="/logout" class="btn btn-outline-warning">Logout</a></span>
        </span>
  </div>
</nav>
