<!--home: welcome-->
<app-header></app-header>
<app-navbar></app-navbar>

<!--list-->
<div style="text-align: center;margin: 20px 0 20px 0">
  <h2 style="color: dodgerblue;text-align: center">SERVICE MANAGEMENT</h2>
</div>

<!--nut create-->
<div style="text-align: center;margin: 20px 0 20px 0">
  <a href="@{/service/create}" class="btn  m-auto" style="color: white;background-color: dodgerblue">Create new</a>
</div>


<!--th:unless="${serviceList.isEmpty()}" -> *ngIf="serviceArray, else emptyService" -->
<!--  <h4>List service is empty! Click button to create new!</h4>-->

<div>
  <table class="table table-bordered table-striped" style="overflow-x: scroll;max-width:100%;display: inline-block">
    <thead>
    <tr>
      <th>No</th>
      <th>ID</th>
      <th>Service name</th>
      <th>Code</th>
      <th>Area</th>
      <th>Floors</th>
      <th>Max people</th>
      <th>Pool area</th>
      <th>Standard room</th>
      <th>Rent type</th>
      <th>Service type</th>
      <th>Other convenience</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
    </thead>

    <tbody>

    <!-- th:each="serObj,loopStatus: ${serviceList}" -> *ngFor="let item of Array, let i = index"  + IService-->
    <tr>
      <!--    <tr th:each="serObj,loopStatus: ${serviceList}">-->
      <!--      <td th:text="${loopStatus.count}"></td>-->
      <!--      <td th:text="${serObj.id}"></td>-->
      <!--      <td th:text="${serObj.serviceName}"></td>-->
      <!--      <td th:text="${serObj.code}"></td>-->
      <!--      <td th:text="${serObj.area}"></td>-->
      <!--      <td th:text="${serObj.floors}"></td>-->
      <!--      <td th:text="${serObj.maxPeople}"></td>-->
      <!--      <td th:text="${serObj.poolArea}"></td>-->
      <!--      <td th:text="${serObj.standardRoom}"></td>-->
      <!--      <td th:text="${serObj.rentType.rentTypeName}"></td>-->
      <!--      <td th:text="${serObj.serviceType.serviceTypeName}"></td>-->
      <!--      <td th:text="${serObj.otherConvenienceDes}"></td>-->
      <!--      <td th:text="${serObj.cost}"></td>-->
      <td style="display: flex">
        <a href="@{/service/edit/__${serObj.id}__}" class="btn " role="button"
           style="color: white;background-color: dodgerblue;margin-right: 5px">Edit</a>
        <button type="button" class="btn btn-danger" data-target="#modalId" data-toggle="modal">Delete
        </button>

      </td>
    </tr>
    </tbody>
  </table>
  <!--  phan trang-->
</div>

<!--delete modal-->
