<!--nav bar: logo-->
<div class="row mt-3 mx-3">
  <div class="col-md-4 ">
    <!--    <img src="/image/logo.png" height="100"/></div>-->
    <img src="../../../assets/image/logo.png" height="100"/>
  </div>
  <div class="col-md-4">
    <p>
      <span style="color:dodgerblue"><i class="fa fa-map-marker fa-lg" style="color: teal"></i></span>
      103 – 105 Đường Võ Nguyên Giáp, Phường Khuê Mỹ, Quận Ngũ hành Sơn, Tp. Đà Nẵng, Việt Nam
      7.0 km từ Sân bay Quốc tế Đà Nẵng
    </p>
  </div>
  <div class="col-md-4">
    <p><span style="color: dodgerblue"><i class="fa fa-phone fa-lg" style="color: teal"></i></span> 84-236-3847 333/888</p>
    <p>
      <span style="color: dodgerblue"><i class="fa fa-envelope fa-lg" style="color: teal"></i></span> reservation@furamavietnam.com
    </p>
  </div>
</div>
