<h1 style="color: blue; text-align: center; margin-bottom: 10px">Login Form</h1>
<form [formGroup] = "registerForm" (ngSubmit)="onSubmit()" class="w-50 m-auto">
<!--  email-->
  <div class="form-group">
    <label for="email">Email: </label>
    <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
    <p style="color: red" id="emailHelp" *ngIf="registerForm.controls.email?.invalid">
      Nhập email đúng định dạng: 'email@gmail.com'
    </p>
  </div>
<!--  password-->
  <fieldset class="form-group" formGroupName="passwordGroup" name="passwordGroup">
    <label for="password">Password</label>
    <input type="text" class="form-control" id="password" formControlName="password" name="password">
    <label for="confirmPassword">Confirm Password</label>
    <input type="text" class="form-control" id="confirmPassword" formControlName="confirmPassword" name="confirmPassword">
  <!--validate-->
    <div style="color:red;" *ngIf="registerForm.controls.passwordGroup?.dirty">  controls.passwordGroup?.hasError('minlength')
      <p [hidden]="!registerForm.get('passwordGroup')?.get('confirmPassword')?.errors?.minlength">
        Password's length >= 6
      </p>
      <p [hidden]="!registerForm.controls.passwordGroup?.hasError('passwordNotMatch')">
        Password does not match!
      </p>
    </div>
<!--    <div class="alert alert-danger" role = "alert"-->
<!--         *ngIf="registerForm.controls.passwordGroup?.hasError('passwordNotMatch',-->
<!--['passwordGroup']) && registerForm.controls.passwordGroup?.dirty">-->
<!--      Password does not match!-->
<!--    </div>-->
  </fieldset>

<!--  country-->
  <div class="form-group">
    <label for="country" style="margin-right: 5px">Country: </label>
    <select formControlName="country" id="country">
      <option *ngFor="let item of countryList" [value]="item.id">{{item.name}}</option>
    </select>
    <p style="color: red"  *ngIf="registerForm.controls.country?.invalid">
      Không để trống trường này
    </p>
  </div>
<!--age-->
  <div class="form-group">
    <label for="age">Age: </label>
    <input type="text" class="form-control" id="age" formControlName="age" >
    <p style="color: red"  *ngIf="registerForm.controls.age?.invalid">
      Tuổi phải >= 18
    </p>
  </div>
<!--gender-->
  <div class="form-group">
    <label for="gender" style="margin-right: 5px">Gender: </label>
    <input type="radio" value="1" id="gender" formControlName="gender"> Nam
    <input type="radio"  value="0" formControlName="gender" > Nữ
  </div>
  <div></div>
<!--phone-->
  <div class="form-group">
    <label for="Phone">Phone: </label>
    <input type="text" class="form-control" id="Phone" formControlName="phone">
    <p style="color: red"  *ngIf="registerForm.controls.phone?.invalid">
      Nhập SĐT đúng định dạng: '+84xxxxxxxxx'
    </p>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <pre>Form value: {{registerForm.value | json}}</pre>
</form>

